body{
    font-size: 1rem;
    background-color: rgb(12, 10, 28);
    align-items: center;
    font-family: 'Trebuchet MS';
    color: white;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 2.5rem;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

.avatar {
    width: 175px;
    height: 175px;
    border-radius: 1000px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in-out; 
  }
.lang{
    flex-direction: column;
    opacity: 0;
    justify-content: space-around;
    display: flex;
    width: 125px;
    height: 125px;
    background-color: rgb(30, 25, 90, 50);
    border: solid 1px rgb(44, 35, 112);
    border-radius: 25px;
    animation-name: appear;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in-out;
}
@keyframes appear{
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}*/
.containerlight{
    background-color: rgb(50, 50, 200);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.containergradient{
    background-image: linear-gradient(rgb(12, 10, 28), rgb(24,20,100));
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    place-content: center;
}

.containerdark{
    flex-wrap: wrap;
    background-color: rgb(12, 10, 28);
    box-shadow: 0px 4px 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
}
.nav__links li a {
    color: white;
    text-decoration: none;
}
header {
    height: auto;
    z-index: 1;
    top: 0;
    position: sticky;
    padding: 0px 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: rgb(10, 10, 30);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 30px rgb(10, 0, 20);
    border: 1px solid rgb(20, 10, 40);
}
.footer {
    height: auto;
    flex-wrap: wrap;
    padding: 10px 5%;
    z-index: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(10, 10, 30);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: 0 4px 30px rgb(10, 0, 20);
    border: 1px solid rgb(20, 10, 40);
    text-align: center;
}
.footer__links {
    list-style: none;
    display: grid;
    grid-template-columns: 20vh 20vh;
}
.footer__links li {
    display: inline-block;
}
.footer__links li a {
    color: white;
    text-decoration: none;
}
/*@media (max-width: 650px) {
    .footer {
        flex-direction: column; 
        text-align: center; 
        align-items: center; 
        justify-content: center;
    }
}
  background: transparent;
  color: #fff;
  width: 140px;
}
*/
.tw-followCard-infoUserName {
  opacity: .6;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}
